#
# BibleForge
#
# @date    09-01-09
# @version alpha (α)
# @link    http://BibleForge.com
# @license Affero General Public License Version 3 (AGPL-3.0)
# @author  BibleForge <info@bibleforge.com>
#

.htaccess
config.php
google*
robots.txt
sitemap.xml
