#
# BibleForge
# 
# @date    09-01-09
# @version 0.2 alpha
# @link    http://BibleForge.com
# @license Reciprocal Public License 1.5 (RPL1.5)
# @author  BibleForge <info@bibleforge.com>
#

config.php
