#
# BibleForge
# 
# @date    09-01-09
# @version 0.2 alpha
# @link http://BibleForge.com
# @license Reciprocal Public License 1.5 (RPL1.5)
# @author BibleForge <http://mailhide.recaptcha.net/d?k=01jGsLrhXoE5xEPHj_81qdGA==&c=EzCH6aLjU3N9jI2dLDl54-N4kPCiE8JmTWHPxwN8esM=>
#

config.php
