#
# BibleForge
# 
# @date    09-01-09
# @version 0.2 alpha
# @link    http://BibleForge.com
# @license Reciprocal Public License 1.5 (RPL1.5)
# @author  BibleForge <info@bibleforge.com>
#

#
# Cache
#
<IfModule mod_headers.c>
    Header unset Pragma
    # Remove ETags
    FileETag None
    Header unset ETag
    
    # TODO: Determine if far future expiration dates are a good idea and if they should be applied to Javascript and CSS as well.
    # NOTE: With future expiration, we should use include the version in the filename so that the client will download the new files (e.g., main_0.3.1.js).
    # Add far future expiration dates to images.
    <FilesMatch "\.(ico|jpg|png|gif)$">
        Header set Cache-Control "public"
        Header set Expires "Mon, 15 Apr 2030 20:00:00 GMT"
        # This eliminates If-Modified-Since and If-None-Match requests for speed improvements.
        Header unset Last-Modified
    </FilesMatch>
</IfModule>


#
# Gzip
#
#NOTE: Compression should not be used when being used only on the localhost.
#TODO: The Forge should determine if compression is needed.
<IfModule mod_deflate.c>
    <FilesMatch "\.(js|css|php|html|htm)$">
        SetOutputFilter DEFLATE
    </FilesMatch>
</IfModule>
AddOutputFilterByType DEFLATE text/html text/plain text/xml text/javascript text/css application/javascript


#
# Redirects
#
# Hide the .git directory and .gitignore from the client.
#RedirectMatch 404 /\\.git
